<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Philippine Standard Geographic Code</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    </head>
    <body>
		   <div class="container mt-5">
                 <select id="provinceId" th:field="*{provinceId}" >
                      <option value=""> -- </option>
                      <option th:each="province : ${provinces}" th:value="${province.id}" th:utext="${province.name}"/>
               </select>
		   </div>
		   
   		   <div class="container mt-5">
                 <select id="municipalityId" th:field="*{municipalityId}" >
                      <option value=""> -- </option>
               </select>
		   </div>
 	</body>
 
 </html>
 
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript">
    $("#provinceId").change(function(e) {
    	var id = $("#provinceId").val();
    	 $("#municipalityId").empty();
    	 $.get( "/psgc/municipalities/province-id/" + id, function(data) {
    		 data.forEach(function(item, i) {
    			 var option = "<option value="+ item.id +">" + item.name +  "</option>";
    			 $("#municipalityId").append(option);
    		 });
    	   });
    });
</script>